/* Centers the header */
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Formats the title */
.title {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	color: #333;
	text-align: center;
}

/* Creates a good navigation bar */
.navigation {
	display: flex;
	justify-content: center;
	background-color: #A7C6B6;
	padding: 20px 0;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navigation li {
	flex-basis: 0; 
	flex-grow: 1;
	margin: 0 10px;
	text-align: center;
}

.navigation a {
	display: block;
	padding: 8px 16px;
	font-size: 22px;
	background-color: #D7D0C8;
	text-decoration: none;
	color: #333333;
	font-family: 'Roboto', sans-serif;
}

.navigation a:hover {
	background-color: #F1ECE2;
	color: #333333;
}

/* Creates a good dropdown menu*/
.dropdown {
	position: relative;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	display: none;
	position: absolute;
}

.dropdown:hover .dropdown-menu li {
	display: block;
}

.dropdown-menu li {
	display: none;
}

.dropdown-menu li:nth-child(1) a:hover {
	background-color: #000000;
	color: #b27400;
}

.dropdown-menu li:nth-child(2) a:hover {
	background-color: #f6bec9;
	color: #2349ba;
}

.dropdown-menu li:nth-child(3) a:hover {
	background-color: #551a21;	
	color: #fefefe; 
}

.dropdown-menu li:nth-child(4) a:hover {
	background-color: #f5f5f5;	
	color: #000000; 
}

/* Moves main down 50 pixels*/
main {
	margin-top: 50px; 
}

/* Italic text */
.italicized {
	font-style: italic;
}

/* Bold text*/
.bolden {
	font-weight: bold;
}

/* Format for heading 2*/
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
}

/* Format for paragraph*/
p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #333;
}

/* Format for list */
li {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #333;
}

/* Format for section*/
section {
	margin-left: 150px;
	margin-bottom: 40px;  
	max-width: 1250px; 
}

/* Formats for portrait picture*/
.portrait {
	position: absolute;
	top: 300px;
	left: 1400px;
}

.portrait figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for band picture*/
.band {
	position: absolute;
	top: 650px;
	left: 1400px;
}

.band img {
	display: block; 
}

.band figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for table*/
table {
	border-collapse: collapse;
	width: 150%;
	background-color: #f5ede4;
	font-family: 'Roboto', sans-serif;
}

.table-container {
  display: flex;
  justify-content: center;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
	font-size: 20px;
}

table td img {
	display: block;
	margin: 0 auto;
}

td.centered {
	text-align: center;
}

/* Formats for footer*/
footer {
	margin-left: 150px;
	margin-bottom: 40px;  
	max-width: 1200px; 
}

/* Formats for mental health video*/
.mental-health-video {
  position: absolute;
  left: 1425px;
  top: 350px;
}

/* Formats for mirror picture and caption*/
.mirror {
	position: absolute;
	top: 660px;
	left: 1390px;
}

.mirror figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for Greenday picture and caption*/
.greenday {
	position: absolute;
	top: 1020px;
	left: 120px;
}

.greenday figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for Radiohead picture and caption*/
.radiohead {
	position: absolute;
	top: 1020px;
	left: 610px;
}
.radiohead figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for the footer on the life page*/
.lifefooter {
  margin-top: 465px;
}

/* Formats for the ICIMI Will Wood picture and caption*/
.icimi-will {
	position: absolute;
	top: 325px;
	left: 1380px;
}

.icimi-will figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for The Normal Album Will Wood picture and caption*/
.thenormalalbum-will {
	position: absolute;
	top: 1375px;
	left: 1380px;
}

.thenormalalbum-will figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for the SELF-iSH Will Wood picture and caption*/
.selfish-will {
	position: absolute;
	top: 2240px;
	left: 1380px;
}

.selfish-will figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for the EIAL Will Wood picture and caption*/
.eial-will {
	position: absolute;
	top: 3095px;
	left: 1380px;
}

.eial-will figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for The Real Will Wood album cover and caption*/
.the-real-will-wood {
	position: absolute;
	top: 335px;
	left: 1380px;
}

.the-real-will-wood figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}

/* Formats for The Real Will Wood Will Wood picture and caption*/
.the-real-will-wood-will {
	position: absolute;
	top: 905px;
	left: 1380px;
}

.the-real-will-wood-will figcaption {
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 16px;
}
